body {
    background-color: black;
}

.slider {
    width: 95vw;
    margin: 10px 20px;
}


#red {

    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px 30px;
    position: absolute;
    right: 0;
    transition: all .1s;
}

#blue {
    
    position: absolute;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 400px 30px;
    margin-right: 0;
    transition: all .1s;

}